:root {
    --clr-primary: #fc6d42;
    --clr-back: #2b6579;
    --clr-light: #bebebe;
    --clr-background: linear-gradient(
        230.86deg,
        #463a36 20%,
        #419AB7 100%
      );
    --clr-delete: #a3271e;
      
}

*,
*::before,
*::after {
    font-family: inherit;
    box-sizing: border-box;

}

body{
    margin: 5em 0 0 0;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: var(--clr-back);
    color: var(--clr-light);
}


.todo-header{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.todo-title{
    color: black;
    font-weight: 500;
    font-size: 3.1rem;
    margin: 0;
}

.todo-time{
    font-size: 1.5rem;
}

.todo-add {
    background: var(--clr-primary);
    width: 30em;
    padding: .20em;
    border-radius: 1em;
}

.new.add {
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 1.3rem;
    width: 30em;
    color: white;
}

.btn {
    cursor: pointer;
    background: 0;
    border: 0;
    padding: 0;
    color: inherit;
    font-size: 1.7rem;
    font-weight: 900;
    margin-right: .25em;
}

.delete-button{
    display: flex;
    justify-content: center;
    
}

.delete-all-tasks{
    font-size: 1rem;
}

.delete-all-tasks:hover{
    color: var(--clr-delete);
}

.todo-tasks {
    display: grid;
    position: relative;
    justify-items: center;
    margin: 1.5em;
 
}

.task{
    display: flex;
    gap: 1em;
    padding: .30em .90em ;
    margin: .25em;
    width: fit-content;
    background-color: var(--clr-primary);
    border-radius: 1em;
    align-items: center;
}

.custom-checkbox {
    --size: .75em;
    display: inline-block;
    width: var(--size);
    height:var(--size);
    margin-right: var(--size);
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.task label{
    display: flex-inline;
    align-items: center;
    position: relative;
}

.task {
    position: relative;
    margin-bottom: 1.25em;
}


.task label::after{
    content: '';
    position: absolute;
    left: 1.5em;
    right: 0;
    top: 50%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 150ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    opacity: .5;
    transform: scaleX(1);
    transform-origin: left;
}

[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox
{
    transform: scale(1.2);
    color: var(--clr-light);
}  

[type="checkbox"]:checked + label .custom-checkbox
{
    background: var(--clr-light);
    border-color: var(--clr-light);
    box-shadow: inset 0 0 0px 2px white;
}  

[type="checkbox"]:checked + label {
    opacity: .5;
}


